/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container {
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.604);
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  background-color: rgb(80, 68, 38);

}

.header-container .navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

#menu-btn {
  display: none;
}
.navbar a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.header-container .navbar a {
  color: black;
  font-weight: 600;
}

.header-container .navbar a:hover {
  color: hsl(0, 0%, 100%);
}

.header-container .icons .ic {
  color: #ffffff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 10px;
}
.header-container .icons .ic:hover {
  color: #000000;
}

@media only screen and  (max-width: 768px) and (min-width:330px) {
  #menu-btn {
    display: inline-block;
  }
  .header-container {
    padding-left: 10px;
  }
  .navbar {
    position: absolute;
    top: 306px;
    right: 100%;
    background: #000000;
    flex-direction: column;
    opacity: 85%;
    width: 320px;
    height: 1500px;
    gap: 0;
    z-index: 1000;
  }
  .header-container .navbar a {
    color: white;
  }
  .header-container .navbar a:hover {
    color: #ffffff;
    /* border-bottom: 0.3rem solid #ffffff; */
    /* padding-bottom: 0.5rem; */
    opacity: 100%;
  }
  .navbar.active {
    left: 0;
  }
}
