/* m1.css */

/* Styling for the container */
.carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-right: 0;
    height: 600px;
    background-color: #ffffff; /* Set your desired background color */
  }
  
  /* Styling for the left content */
  .left-content {
    padding-top: 0;
    padding: 20px;
    text-align: left;
    width: 100%;
    max-width: 700px;
  }
  .left-content p{
    margin-top: 25px;
  }
  
  .left-content h2 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
    color: #333; /* Set your desired text color */
  }
  
  .left-content h3 {
    font-size: 18px;
    color: #666; /* Set your desired text color */
  }
  
  /* Styling for the right content */
  .right-content {
    /* flex: 2; */
    /* padding: 20px; */
    right: 0;
    margin-left: 25px;
    margin-right: 0;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  /* Styling for the buttons */
  .carousel-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .prev-button,
  .next-button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #000000; /* Set your desired button background color */
    color: #ffffff; /* Set your desired button text color */
    border: none;
    height: 80px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .prev-button:hover,
  .next-button:hover {
    background-color: #2b2b2c; /* Set your desired button background color on hover */
  }
  
  /* Styling for the slider */
  .slick-list {
    width: 100%;
    max-width: 600px;
    height: 600px;
    margin: 30px;
  }
  
  /* .carousel-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

  } */
  
  .carousel-slide img {
    margin-top: 40px;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    /* border: 1px solid #ddd; Set your desired image border style */
    border-radius: 5px;
  }
  
  .carousel-slide h2 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #333; /* Set your desired text color */
  }
  
  .carousel-slide h3 {
    font-size: 16px;
    color: #666; /* Set your desired text color */
  }
  .slick-list h2 {
    margin-top: 60px;
  }
  .slick-list h2:hover {
    text-decoration: underline;
  }
  
  .carousel-slide a {
    text-decoration: none;
    color: #007bff; /* Set your desired link color */
  }
  
  .carousel-slide a:hover {
    text-decoration: underline;
  }
  
  @media only screen and (min-width: 0px) and (max-width: 640px) {
    .carousel-container{
      flex-direction: column;
      padding: 5px;
      height: 750px;
    }
    .left-content p {
      font-size: 15px;
    }
    .slick-list {
      max-width: 200px;
      height: 400px;
    }
    .right-content {
      margin-left: 0;
    }
    .prev-button, .next-button{
      width: 40px;
      padding: 0;
      margin: 0;
    }

  }